# Ignore virtual environment
.venv/
venv/

# Ignore datasets, PDFs, CSVs, ZIPs
*.pdf
*.csv
*.zip

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code workspace
*.code-workspace
